[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f

[user]
    name = Rabeez Riaz
    email = ruoter123@gmail.com

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/.config/delta/catppuccin.gitconfig

[delta]
    line-numbers = true
    side-by-side = false
    navigate = true    # use n and N to move between diff sections
    dark = true
    features = catppuccin-mocha

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default
[init]
    defaultBranch = main
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
