.workspace-tab-header-container {
    display: none;
}

/*.workspace-tabs.mod-top.mod-top-left-space {
    margin-top: 3rem;
}

.workspace-tabs.mod-top.mod-top-right-space {
    margin-top: 1rem;
}*/

.nav-files-container.node-insert-event.show-unsupported {
    margin-top: 2rem;
}
