<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>4221328004</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFgB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxgAAAABAQAAR29vZ2xlIENocm9tZSBDYW5hcnkuYXBw
				CAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAxEkfAgAAAAAI
				AAAABAMAAJb0EQIAAAAACAAAAAEGAABUAAAAZAAAAAgA
				AAAABAAAQcessZwAAAAYAAAAAQIAAAIAAAAAAAAADwAA
				AAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAA
				AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAI
				AAAAAAQAAEHHp1N2AAAAJAAAAAEBAABCQzhFRUVGQS0w
				N0FFLTQwREItOTg1NS03NjdFMUYxOTlCN0EYAAAAAQIA
				AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
				LwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAARAAAAAAAAAAFEAAAdAAAAAAAAAAQEAAAlAAAAAAA
				AABAEAAAhAAAAAAAAAACIAAARAEAAAAAAAAFIAAAtAAA
				AAAAAAAQIAAAxAAAAAAAAAARIAAA+AAAAAAAAAASIAAA
				2AAAAAAAAAATIAAA6AAAAAAAAAAgIAAAJAEAAAAAAAAw
				IAAAUAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome.canary</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome%20Canary.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome Canary</string>
				<key>file-mod-date</key>
				<integer>3855539256</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>115680215627021</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>323355548</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwsAAAABAQAAR2hvc3R0eS5hcHAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAxEkfAgAAAAAIAAAABAMAAByGCAAA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQccf35g8
				WpwYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHHp1N2
				AAAAJAAAAAEBAABCQzhFRUVGQS0wN0FFLTQwREItOTg1
				NS03NjdFMUYxOTlCN0EYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.mitchellh.ghostty</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Ghostty.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Ghostty</string>
				<key>file-mod-date</key>
				<integer>114091077791503</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>38800302859102</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>592946560</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAAU2xhY2suYXBwAAAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAxEkfAgAAAAAIAAAABAMAAPie0gIA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcdn3i8A
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHHp1N2
				AAAAJAAAAAEBAABCQzhFRUVGQS0wN0FFLTQwREItOTg1
				NS03NjdFMUYxOTlCN0EYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Slack.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Slack</string>
				<key>file-mod-date</key>
				<integer>3862142073</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>38800302859102</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>483762219</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFQB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxEAAAABAQAAU3BhcmsgRGVza3RvcC5hcHAAAAAIAAAA
				AQYAABAAAAAkAAAACAAAAAQDAADESR8CAAAAAAgAAAAE
				AwAAOzOBAgAAAAAIAAAAAQYAAFAAAABgAAAACAAAAAAE
				AABBxzRGPAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
				TWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAA
				BAAAQcenU3YAAAAkAAAAAQEAAEJDOEVFRUZBLTA3QUUt
				NDBEQi05ODU1LTc2N0UxRjE5OUI3QRgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABA
				AAAAAAAAAAUQAABwAAAAAAAAABAQAACQAAAAAAAAAEAQ
				AACAAAAAAAAAAAIgAABAAQAAAAAAAAUgAACwAAAAAAAA
				ABAgAADAAAAAAAAAABEgAAD0AAAAAAAAABIgAADUAAAA
				AAAAABMgAADkAAAAAAAAACAgAAAgAQAAAAAAADAgAABM
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.readdle.SparkDesktop</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Spark%20Desktop.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Spark Desktop</string>
				<key>file-mod-date</key>
				<integer>183785513852753</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>38800302859102</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
</dict>
</plist>
