<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disable-shadow</key>
	<true/>
	<key>last-analytics-stamp</key>
	<real>801950286.424501</real>
	<key>location</key>
	<string>/Users/rabeezriaz/Pictures/Screenshots</string>
	<key>show-thumbnail</key>
	<false/>
	<key>type</key>
	<string>png</string>
</dict>
</plist>
