<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssistiveControlType</key>
	<integer>2</integer>
	<key>History</key>
	<dict>
		<key>MouseKeys</key>
		<array>
			<dict>
				<key>Date</key>
				<string>2026-01-04 10:17:57 PM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-04 10:17:57 PM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-04 10:17:57 PM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-04 10:18:10 PM</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-04 10:18:10 PM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-04 10:18:10 PM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-04 10:18:10 PM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-04 10:18:10 PM</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-04 10:18:17 PM</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-04 10:18:17 PM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-04 10:18:17 PM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-04 10:18:17 PM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-16 8:21:36 AM</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-16 8:21:36 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-16 8:21:37 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-16 8:21:37 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-25 9:26:05 AM</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-25 9:26:05 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-25 9:26:05 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-25 9:26:05 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-25 9:26:06 AM</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-25 9:26:06 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-25 9:26:06 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-25 9:26:06 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-25 9:26:06 AM</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-25 9:26:30 AM</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-25 9:26:30 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-25 9:26:30 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-25 9:26:30 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-12 12:19:19 AM</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-12 12:19:20 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-12 12:19:20 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-12 12:19:20 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-12 12:19:25 AM</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-12 12:19:25 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-12 12:19:25 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-12 12:19:25 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-12 12:19:25 AM</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-12 12:19:49 AM</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-12 12:19:50 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-12 12:19:50 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-12 12:19:50 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-16 10:43:54 AM</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-16 10:43:54 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-16 10:43:54 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-16 10:43:54 AM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-06-02 10:45:18 PM</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-06-02 10:45:18 PM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-06-02 10:45:18 PM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-06-02 10:45:18 PM</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>closeViewHotkeysEnabled</key>
	<false/>
	<key>closeViewZoomDisplayID</key>
	<integer>0</integer>
	<key>closeViewZoomFactor</key>
	<real>1.0</real>
	<key>closeViewZoomFactorBeforeTermination</key>
	<real>1.0</real>
	<key>com.apple.custommenu.apps</key>
	<array>
		<string>NSGlobalDomain</string>
	</array>
	<key>dwellEnabled</key>
	<false/>
	<key>keyboardAccessCommandMap</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBfEBNj
	b21tYW5kc1RvS2V5Q2hvcmRzViRjbGFzc4AAgALSEhMUFVokY2xhc3NuYW1lWCRjbGFz
	c2VzXxAWQVhTU0tleWJvYXJkQ29tbWFuZE1hcKIWF18QFkFYU1NLZXlib2FyZENvbW1h
	bmRNYXBYTlNPYmplY3QIERokKTI3SUxRU1ddYnh/gYOIk5y1uNEAAAAAAAABAQAAAAAA
	AAAYAAAAAAAAAAAAAAAAAAAA2g==
	</data>
	<key>keyboardAccessFocusRingTimeout</key>
	<real>15.0</real>
	<key>liveSpeechEnabled</key>
	<false/>
	<key>login</key>
	<false/>
	<key>sessionChange</key>
	<false/>
	<key>slowKey</key>
	<false/>
	<key>slowKeyDelay</key>
	<integer>250</integer>
	<key>stickyKey</key>
	<false/>
	<key>switchOnOffKey</key>
	<false/>
	<key>useStickyKeysShortcutKeys</key>
	<false/>
	<key>virtualKeyboardOnOff</key>
	<false/>
</dict>
</plist>
