<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>autohide-delay</key>
	<real>0.0</real>
	<key>autohide-time-modifier</key>
	<real>0.0</real>
	<key>expose-group-apps</key>
	<true/>
	<key>last-analytics-stamp</key>
	<array>
		<real>801871892.492146</real>
	</array>
	<key>lastShowIndicatorTime</key>
	<real>748469316.905743</real>
	<key>loc</key>
	<string>en_GB:EE</string>
	<key>mineffect</key>
	<string>scale</string>
	<key>minimize-to-application</key>
	<true/>
	<key>mod-count</key>
	<integer>307</integer>
	<key>mru-spaces</key>
	<false/>
	<key>orientation</key>
	<string>left</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>4064805108</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFgB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxgAAAABAQAAR29vZ2xlIENocm9tZSBDYW5hcnkuYXBw
				CAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAoptpCAAAAAAI
				AAAABAMAAHNULwgAAAAACAAAAAEGAABUAAAAZAAAAAgA
				AAAABAAAQceuUEMAAAAYAAAAAQIAAAIAAAAAAAAADwAA
				AAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAA
				AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAI
				AAAAAAQAAEHHp1N2AAAAJAAAAAEBAABEMjIwNzRCRi04
				OTdCLTQ0N0QtQjI4My0zOEY0RTFBOUVFQTMYAAAAAQIA
				AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
				LwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAARAAAAAAAAAAFEAAAdAAAAAAAAAAQEAAAlAAAAAAA
				AABAEAAAhAAAAAAAAAACIAAARAEAAAAAAAAFIAAAtAAA
				AAAAAAAQIAAAxAAAAAAAAAARIAAA+AAAAAAAAAASIAAA
				2AAAAAAAAAATIAAA6AAAAAAAAAAgIAAAJAEAAAAAAAAw
				IAAAUAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome.canary</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome%20Canary.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome Canary</string>
				<key>file-mod-date</key>
				<integer>33036455152234</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>145367030471411</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2536335618</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwsAAAABAQAAR2hvc3R0eS5hcHAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAoptpCAAAAAAIAAAABAMAAPc0dgkA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcfY5AAM
				E8EYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHHp1N2
				AAAAJAAAAAEBAABEMjIwNzRCRi04OTdCLTQ0N0QtQjI4
				My0zOEY0RTFBOUVFQTMYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.mitchellh.ghostty</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Ghostty.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Ghostty</string>
				<key>file-mod-date</key>
				<integer>55155536398267</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>145367030471411</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4188816223</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAAT2JzaWRpYW4uYXBwCAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAA9o+/CQAAAAAIAAAABAMAAJtaKgAA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcYksf6A
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHH0fL+
				gAAAJAAAAAEBAABEMjIwNzRCRi04OTdCLTQ0N0QtQjI4
				My0zOEY0RTFBOUVFQTMYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>md.obsidian</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Obsidian.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Obsidian</string>
				<key>file-mod-date</key>
				<integer>255764848593772</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>200574540934201</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array/>
	<key>recent-apps</key>
	<array/>
	<key>region</key>
	<string>EE</string>
	<key>show-recents</key>
	<false/>
	<key>showAppExposeGestureEnabled</key>
	<true/>
	<key>showMissionControlGestureEnabled</key>
	<true/>
	<key>size-immutable</key>
	<true/>
	<key>springboard-columns</key>
	<integer>8</integer>
	<key>springboard-hide-duration</key>
	<integer>0</integer>
	<key>springboard-rows</key>
	<integer>6</integer>
	<key>springboard-show-duration</key>
	<integer>0</integer>
	<key>tilesize</key>
	<real>44.0</real>
	<key>trash-full</key>
	<false/>
	<key>version</key>
	<integer>1</integer>
	<key>workspaces-edge-delay</key>
	<real>0.0</real>
	<key>wvous-br-corner</key>
	<integer>1</integer>
	<key>wvous-br-modifier</key>
	<integer>0</integer>
</dict>
</plist>
