<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACDMonthlyAnalyticsLastPosted</key>
	<real>799627037.946639</real>
	<key>AKLastIDMSEnvironment</key>
	<integer>0</integer>
	<key>AKLastLocale</key>
	<string>en_US@rg=eezzzz</string>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleEnableSwipeNavigateWithScrolls</key>
	<false/>
	<key>AppleICUForce12HourTime</key>
	<true/>
	<key>AppleIconAppearanceTheme</key>
	<string>RegularDark</string>
	<key>AppleInterfaceStyle</key>
	<string>Dark</string>
	<key>AppleLanguages</key>
	<array>
		<string>en-US</string>
	</array>
	<key>AppleLanguagesSchemaVersion</key>
	<integer>5400</integer>
	<key>AppleLocale</key>
	<string>en_US@rg=eezzzz</string>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<false/>
	<key>ApplePressAndHoldEnabled</key>
	<false/>
	<key>AppleReduceDesktopTinting</key>
	<true/>
	<key>AppleScrollerPagingBehavior</key>
	<true/>
	<key>AppleShowAllExtensions</key>
	<true/>
	<key>AppleShowScrollBars</key>
	<string>WhenScrolling</string>
	<key>InitialKeyRepeat</key>
	<real>15.0</real>
	<key>KB_DoubleQuoteOption</key>
	<string>“abc”</string>
	<key>KB_SingleQuoteOption</key>
	<string>‘abc’</string>
	<key>KB_SpellingLanguage</key>
	<dict>
		<key>KB_SpellingLanguageIsAutomatic</key>
		<true/>
	</dict>
	<key>KeyRepeat</key>
	<real>2.0</real>
	<key>NSAutomaticCapitalizationEnabled</key>
	<false/>
	<key>NSAutomaticInlinePredictionEnabled</key>
	<false/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>NSLinguisticDataAssetsRequestLastInterval</key>
	<real>86400.0</real>
	<key>NSLinguisticDataAssetsRequestTime</key>
	<date>2026-06-02T10:50:13Z</date>
	<key>NSLinguisticDataAssetsRequested</key>
	<array>
		<string>en</string>
		<string>en_US</string>
		<string>mul</string>
		<string>mul_Latn</string>
		<string>de</string>
		<string>ro</string>
	</array>
	<key>NSLinguisticDataAssetsRequestedByChecker</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>ro</string>
	</array>
	<key>NSNavPanelFileLastListModeForOpenModeKey</key>
	<integer>2</integer>
	<key>NSNavPanelFileListModeForOpenMode2</key>
	<integer>2</integer>
	<key>NSPreferredWebServices</key>
	<dict>
		<key>NSWebServicesProviderWebSearch</key>
		<dict>
			<key>NSDefaultDisplayName</key>
			<string>Google</string>
			<key>NSProviderIdentifier</key>
			<string>com.google.www</string>
		</dict>
	</dict>
	<key>NSSpellCheckerDictionaryContainerTransitionComplete</key>
	<true/>
	<key>NSTableViewDefaultSizeMode</key>
	<integer>2</integer>
	<key>NSUserDictionaryReplacementItems</key>
	<array>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>omw</string>
			<key>with</key>
			<string>On my way!</string>
		</dict>
	</array>
	<key>NSUserQuotesArray</key>
	<array>
		<string>“</string>
		<string>”</string>
		<string>‘</string>
		<string>’</string>
	</array>
	<key>NavPanelFileListModeForOpenMode</key>
	<integer>2</integer>
	<key>WebAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>_AKBAACertMarkerKey</key>
	<data>
	W+Py8AuoZ69fZx8i6HbB7spZZ6uqWdUVcPAQT5dY5AI=
	</data>
	<key>com.apple.finder.SyncExtensions</key>
	<dict>
		<key>collaborationMap</key>
		<dict>
			<key>com.aone.keka.KekaFinderIntegration</key>
			<false/>
		</dict>
		<key>dirMap</key>
		<dict>
			<key>com.aone.keka.KekaFinderIntegration</key>
			<array>
				<string>file:///Users/rabeezriaz/Desktop/</string>
				<string>file:///Users/rabeezriaz/Music/</string>
				<string>file:///Users/rabeezriaz/Movies/</string>
				<string>file:///Users/rabeezriaz/Documents/</string>
				<string>file:///Users/rabeezriaz/Pictures/</string>
				<string>file:///Users/rabeezriaz/Downloads/</string>
				<string>file:///Users/rabeezriaz/Public/</string>
			</array>
		</dict>
	</dict>
	<key>com.apple.sound.beep.flash</key>
	<integer>0</integer>
	<key>com.apple.sound.uiaudio.enabled</key>
	<integer>0</integer>
	<key>com.apple.springing.delay</key>
	<real>0.5</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>com.apple.trackpad.forceClick</key>
	<false/>
	<key>shouldShowRSVPDataDetectors</key>
	<false/>
</dict>
</plist>
